html {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/rest_roulette_hero.jpg");
  height: 100vh;
  margin: 0;
}

@media (max-width: 768px) {
  html,
  body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/rest_roulette_mobile_hero.jpg");
    margin: 0;
    height: 100%vh;
  }
}
