body {
  background-color: #cdd6d0;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 30px;
}

h1 {
  color: white;
  font-family: "Josefin Slab", serif;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: "Josefin Slab", serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding-bottom: 5px;
  text-align: center;
}

#newBtn {
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  background: #db3a34;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

#newBtn:hover {
  box-shadow: 0 8px #ab3c3c;
  top: -2px;
}

#newBtn:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}

#locationBtn {
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  background: #db3a34;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

#locationBtn:hover {
  box-shadow: 0 8px #ab3c3c;
  top: -2px;
}

#locationBtn:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}

a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.35em;
  padding: 8px 0;
  font-family: inherit;
}

a:hover {
  text-decoration: underline;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}
